<%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "アイテムを検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <%# <%= item_lists(@items) %> 
  <div class="place">
    <div class="place-left-name">
    <%= link_to "場所を追加してください" %>
    </div>
    <div class="place-right-name">
    <%= link_to "場所を追加してください"%>
    </div>
  </div>
  
  <% @items.each do |item| %>
  <div class="place-box">
    <div class="place-left-box">
    <%= image_tag item.image.variant(resize: '500x500'), class: 'item-image-left' if item.image.attached? %>
    </div>
    <div class="place-right-box">
    <%= image_tag message.image.variant(resize: '500x500'), class: 'item-image-right' if message.image.attached? %>
    </div>
  </div>
  <% end %>

</div>