<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @item.image %>);">
    <div class="more">
      <span><%= image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_item_path(@item.id) %>
        </li>
        <li>
          <%= link_to '削除', item_path(@item.id), data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
    <p><%= @item.item_description %></p>
    <%# <span class="name"><%= @item.item_name %> %>
    </span>
  </div>
</div>